* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: white;
    font-size: 14px; 
    line-height: 22px;
}

.container {
    width: 800px;
    height: auto;
    display: flex;
    margin: 50px auto;
}

.container .box-left {
    width: 280px;
    background-color: rgb(105, 128, 219);
    text-align: center; 
}

.container .box-left .profile {
    width: 100%;
    padding-top: 30px; 
}

.container .box-left .profile-pic {
    display: inline-block;
    margin-bottom: 25px;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    border: 4px solid #e0d7c6;
    object-fit: cover;
}

.container .box-left .content {
    padding: 0 25px;
    text-align: left;
}

.container .resume-item {
    padding: 5px 0;
}

.container .box-left .bold {
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    margin-left: 0;
    margin-bottom: 2px; 

}

.container .box-left .reguler {
    font-size: 18px;
    color: white;
    margin-bottom: 50px;
    border-bottom: 2px cornsilk;
}

.container .box-left .resume-skills ul li{
    display: flex;
    margin-bottom: 10px;
    color: whitesmoke;
    justify-content: space-between;
    align-items: center;
}

.container .box-left .resume-skills ul li .skill-name{
    width: 25%;
}

.container .box-left .resume-skills ul li .skill-progress{
    width: 60%;
    margin: 0 5px;
    height: 5px;
    background-color: red;
    position: relative;
}

.container .box-left .resume-skills ul li .skill-progress span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: azure;
}

.container .box-left .resume-skills ul li .skill-percent {
    width: 15%;
}

.container .box-left .resume-hobbies {
    margin-top: 35px;
}

.container .box-left .resume-hobbies .logo {
    margin: 10px 0px;
    display: grid;
    grid-template: 1fr 1fr/1fr 1fr;
    font-size: 2.8em;
    grid-row-gap: 15px;
}

.semi-bold {
    font-weight: 500;
    font-size: 16px;
}
.bold {
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    margin-left: 0;
    margin-bottom: 20px;
}

.container .box-right {
    width: 520px;
    background-color: rgb(241, 239, 239);
    padding: 25px; 
}

.container .box-right .resume-item {
    border-bottom: 2px solid rgb(5, 3, 3); 
    padding-bottom: 15px; 
    margin-bottom: 20px; 
}

.container .box-left .resume-item:las-child,
.container .box-right .resume-item:las-child {
    border-bottom: 0px;
}

.container .box-right ,.bold {
    color: rgb(44, 84, 119);
}

.container .box-right ul li{
    position: relative;
}

.container .box-right ul li .date {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
}

.container .box-right ul li .info{
    margin-bottom: 20px;
}

.container .box-right ul li:last-child .info{
    margin-bottom: 0;
}

.container .box-right .resume-work ul,
.container .box-right .resume-education ul {
    padding-left: 40px;
    overflow: hidden;
}

.container .box-right .resume-work ul li::before,
.container .box-right .resume-education ul li::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -25px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 2px solid red;
}

.container .box-right .resume-work ul li::after,
.container .box-right .resume-education ul li::after{
    content: "";
    position: absolute;
    background-color: red;
    top: 14px;
    left: -21px;
    width: 2px;
    height: 158px;
}
